# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Temp files
*~
*.exe
*.test

# Log files
*.log

# macOS
.DS_Store

# Dependency directories
vendor/
.idea/

# Coverage
cover.out
cover.html

# Binary
chibidb